@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SyslogShared.Models
@model syslogSite.Pages.DeviceUnreadAlertsModel

@{
    ViewData["Title"] = "DeviceUnreadAlerts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Devices with Unread Alerts:</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Device[0].HostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device[0].IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device[0].Alerts)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Device)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alerts.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Clear All</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete All</a>
            </td>
        </tr>
    }
        </tbody>
</table>
