@page
@model syslogSite.Pages.RemoveDeviceModel

@{
    ViewData["Title"] = "RemoveDevice";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="text-center">
<h1>Remove Device from Monitoring</h1>
    </div>
<div>
    <h4>Device Search</h4>
    <hr />
    <text class="text-danger">@RemoveDeviceModel.feedback</text><br/>
    @if(Model.Device == null) {
        <text>Find the device by entering it's details here:</text>
        <form method="post" asp-page-handler="Locate">
    
            <label asp-for="Device.IP"></label><br/>
    
            <input type="text" name="ip"/><br />
    
            <label>Hostname</label><br />
    
            <input type="text" name="hostname" />
    
            <input type="submit" value="Get Device" />
    
        </form>
    }
    else
    {
        <br/>
        <text>Deletion is permanent. Make sure this is the device you want to remove</text>
        <br/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Device.HostName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Device.HostName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Device.IP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Device.IP)
            </dd>
        </dl>
        <form method="post" asp-page-handler="Delete">
            <input type="hidden" asp-for="Device.ID" name="id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
    }
</div>
